@import 'reset.css';

/* COLORS */

/* 
BRIGHT BACKGROUND: rgb(231,226,218)
DARK BACKGROUND: rgb(71,65,67)
ACCENT: rgb(0,169,156) 
rgb(207,203,196)
*/


@font-face {
    font-family: Open-Sans;
    src: url(../assets/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Opti-Belwe;
    src: url(../assets/Opti_Belwe/OPTIBelwe-Medium.otf);
}

body {
    -webkit-user-select: none;
    background-color: rgb(231,226,218);
    color: white;
}

body{
    font-family: Open-Sans;
    border: 1px solid rgb(231,226,218);
    overflow:hidden;
    display:block;
    box-sizing: border-box;
}

body:active,body:hover {
    cursor: default;
}

.title-bar {
    box-sizing: border-box;
    font-family: Opti-Belwe;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 5%;
    background-color: rgb(71,65,67);
    -webkit-app-region: drag;
    border-bottom: rgb(231,226,218) 1px solid;
    padding-left: 10px;
    line-height: 35px;       /* the same as your div height */
    color: rgb(231,226,218);
}

.close {
    margin-right: 3px;
}

.minimize, .close {
    -webkit-app-region: no-drag;
    display: block;
    width: 30px;
    height: 100%;
    float: right;
}
/* 
.logo-title-bar {
    display: block;
    float: left;
    height: 100%;
    width: 30px;
    margin-left: 3px;
} */

.minimize {
    background-image: url('../assets/minimize-app.png');
    background-repeat: no-repeat;
    background-position: center; 
}

.close {
    background-image: url('../assets/close-app.png');
    background-repeat: no-repeat;
    background-position: center; 
}

.logo-title-bar {
    background-image: url('../assets/app-icon24.png');
    background-repeat: no-repeat;
    background-position: center; 
}

.minimize:hover {
    background-image: url('../assets/minimize-app-hover.png');
    background-repeat: no-repeat;
    background-position: center; 
}

.close:hover {
    background-image: url('../assets/close-app-hover.png');
    background-repeat: no-repeat;
    background-position: center; 
}

.footer {
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color: rgb(231,226,218);;
    box-sizing: border-box;
    float: left;
    display: block;
    width: 22%;
    line-height: 15px;
    height: 9% !important;
    background-color: rgb(71,65,67);
    border-top: rgb(231,226,218) 1px solid;

}

.panel {
    border-top: rgb(231,226,218) 1px solid;
    box-sizing: border-box;
    float: right;
    display: block;
    width: 78%;
    height: 9%;
    background: rgb(71,65,67)
}

.content {
    position: relative;
    box-shadow: inset 0 2px 40px 3px #FFF;
    /* box-shadow:inset 0px 2px 10px 5px #FFF; */
    box-sizing: border-box;
    display: flex; 
    height: 86%;
    background-color: rgb(231,226,218);;
}

.contentPlaceholder {
    opacity: 0.5;
    text-align: center;
    font-family: Opti-Belwe;
    margin: auto;
    position: absolute;
    top: -30; left: 0; bottom: 0; right: 0;
    background: url(../assets/rsz_placeholder_logo.png) no-repeat center;
    width: 300px;
    height: 200px;
}

.contentPlaceholderMessage{
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    line-height: 20px;
    text-align: center;
    display: block;
    width: 300px;
    font-family: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
}

.login-form  {
    display: block;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    float: right;
    margin-right: 0px;

}

.submit-login, .submit-create {
    font-family: Opti-Belwe;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100px;
    height: 50px;
    margin-right: 10px;
    background-color: rgb(231,226,218);
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
}

.submit-login:hover, .submit-create:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(0,169,156) ;
}

.socials ul {
    height: 100%;
    float: left;
    position: relative;
}

.socials ul li {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 5px;
    display: inline-block;
    width: 40px;
    height: 50px;
    transition: all 0.3s ease 0s;
}

.socials ul li:nth-child(1) {
    background: url(../assets/youtube.png) no-repeat center;
}

.socials ul li:nth-child(2) {
    background: url(../assets/reddit.png) no-repeat center;
}

.socials ul li:nth-child(3) {
    background: url(../assets/facebook.png) no-repeat center;
}

.socials ul li:nth-child(1):hover {
    background: url(../assets/youtube-hover.png) no-repeat center;
}

.socials ul li:nth-child(2):hover {
    background: url(../assets/reddit-hover.png) no-repeat center;
}

.socials ul li:nth-child(3):hover {
    background: url(../assets/facebook-hover.png) no-repeat center;
}

.menu ul {
    font-family: Opti-Belwe;
    display: block;
    text-align: center;
}

.menu ul li {
    font-size: 20px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: white;
    box-sizing: border-box;
    margin-top: 10px;
    display: inline-block;
    width: 93%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    -webkit-transition: background-color 700ms linear;
}

.menu ul li:first-child {
    background: none;
    border: none;
    height: 75px;

}

.menu ul li:hover:not(:first-child) {
    background-color: rgba(0,169,156, 0.2);
}

.card-image {
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    padding: 0px;
    margin: 0px;
    transform: scale(1.05);
}


.menu {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 13%;
    height: 86%;
    background: linear-gradient(to bottom, rgba(71,65,67,1)  50%, rgba(0,169,156,1) 100%);
}

.toggle-menu {
	cursor: pointer;
	float: left;
	width: 0.5%;
    height: 86%;
    background-color: rgb(71,65,67);
    border-left: 1px rgb(231,226,218) solid;
}

.hidden {
    display: none !important;
}

.center-vertically {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

.deck-tracker-content {
    width: 100%;
    position: relative;
}

::-webkit-scrollbar { 
    display: none; 
}

.deck-tracker-deck {
    background-color: black;
    padding: 10px;
    height: 100%;
    float: right;
    width: 30%;
    box-sizing: border-box;
}

.toggle-track {
    float: left;
    height: 15%;
    width: 70%;
    box-sizing: border-box;
}

.toggle-track-buttons {
    box-sizing: border-box;
    /* margin: 0 auto; */
    margin: 0 20px;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    background-color: Transparent;
    cursor: pointer;
}

.toggle-track-button {
    font-family: Opti-Belwe;
    font-size: 18px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: white;
    border: 1px black solid;
    box-sizing: border-box;
    height: 100%;
    margin-right: 10px;
    /* margin: 0 auto; */
    background-color: Transparent;
    cursor: pointer;
}

.deck-tracker-bar {
    letter-spacing: 1px;
    font-family: Opti-Belwe;
    font-size: 18px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: white;
    height: 5%;
    float: left;
    width: 70%;
    padding-left: 22px;
    box-sizing: border-box;
}

.deck-tracker-log {
    letter-spacing: 1px;
    font-family: Opti-Belwe;
    font-size: 16px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: white;
    -webkit-user-select: text;
    line-height: 30px;
    height: 80%;
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding-left: 22px;
    overflow: scroll;
    word-wrap: break-word;
}

.deck-creator-deck-choices {
    height: 100%;
    width: 20%;
    letter-spacing: 1px;
    font-family: Opti-Belwe;
    font-size: 18px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.deck-creator-search-inputs input, .deck-creator-search-inputs select {
    display: block;
    margin: 0px auto;
    border: none;
    text-align: center;
    width: 90%;
    text-align: inherit;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 3px;
    border: 1px black solid;
}

.deck-creator-search-inputs select {
    background-image: none;
}


.deck-creator-search-inputs {
    border-top: 3px rgb(231,226,218) solid;
    box-sizing: border-box;
    font-size: 18px;
}

.deck-creator-search-inputs label{
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.deck-creator-card-search {
    height: 100%;
    width: 14%;
    letter-spacing: 1px;
    font-family: Opti-Belwe;
    font-size: 18px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: white;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(207,203,196);
}



*:focus {
    outline: none;
}


.deck-creator-deck-list {
    width: 100%;
    height: 83%;
    box-sizing: border-box;
    overflow: scroll;
    background-color: rgb(207,203,196);
    border-top: 3px rgb(231,226,218) solid;
}

.deck-creator-deck-string {
    font-size: 16px;
    border-top: 3px rgb(231,226,218) solid;
    background-color: rgb(207,203,196);
    padding-top: 10px;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
}

.deck-creator-deck-list table {
    margin: 0 auto;
    width: 98%;
    padding: 2px;
    font-size: 14px;
}

.deck-creator-deck-list table td {
    margin: 1px;
    padding: 3px;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: rgba(231,226,218,0.5);
}

.deck-creator-deck-list table tr {
    height: 35px;
}

.deck-creator-deck-list table td:first-child {
    box-sizing: border-box;
    background-color: rgba(0, 87, 169, 0.068);
    text-align: center;
    width: 15%;
    margin-right: 3px;
}

.deck-creator-deck-string input {
    width: 100%;
    height: 20px;
}

.deck-creator-deck-copy-button {
    width: 30px;
    height: 20px;
}

.deck-creator-deck-string-control td, .deck-creator-deck-string-control tr, .deck-creator-deck-string-control table {
    border: none;
    padding: 0;
    margin: 0;
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

.deck-creator-deck-string-control table {
width: 90%;
margin: 0 auto;
 }

 .deck-creator-card-top-bar {
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(207,203,196);
 }

 .deck-creator-card-found {
    height: 93%;
    width: 100%;
    overflow: scroll;
    text-align: center;
 }

 .deck-creator-card-results {
    font-size: 18px;
    letter-spacing: 1px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-family: Opti-Belwe;
    height: 100%;
    width: 68%;
    box-sizing: border-box;
    
}

.mana-crystals-container {
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
}

.mana-crystals-container ul li {
    cursor: pointer;
    width: 20%;
    box-sizing: border-box;
    padding: 2px;
    float: left;
}

.active-mana-crystal {
    color: rgb(0,169,156);
}



svg#logo:hover {
    animation: initOpacity .4s linear;
  }
  svg#logo:hover .circle {
    animation: opacity 2s linear;
    animation-delay: .4s;
  }
  svg#logo:hover .circle1 {
    animation: opacity 1s linear;
    animation-delay: .4s;
  }
  svg#logo:hover .circle2 {
    animation: opacity 4s linear;
    animation-delay: .4s;
  }
  svg#logo:hover .line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
    animation-delay: 2.4s;
  }
  
  @keyframes initOpacity {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }