@import 'reset.css';

/* COLORS */

/* 
BRIGHT BACKGROUND: rgb(231,226,218)
DARK BACKGROUND: rgb(71,65,67)
ACCENT: rgb(0,169,156) 
rgb(207,203,196)
*/


@font-face {
    font-family: Open-Sans;
    src: url(../assets/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Opti-Belwe;
    src: url(../assets/Opti_Belwe/OPTIBelwe-Medium.otf);
}

body {
    font-family: Open-Sans;
    border: 1px solid rgb(231,226,218);
    overflow: hidden;
    display:block;
    box-sizing: border-box;
    -webkit-user-select: none;
    background-color: rgb(231,226,218);
    color: white;
}

body:active,body:hover {
    cursor: default;
}

.title-bar, .user-title-bar {
    box-sizing: border-box;
    font-family: Opti-Belwe;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 5%;
    background-color: rgb(71,65,67);
    -webkit-app-region: drag;
    border-bottom: rgb(231,226,218) 1px solid;
    padding-left: 10px;
    line-height: 35px;       /* the same as your div height */
    color: rgb(231,226,218);
}

.deck-creator-deck-copy-button {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url('../assets/copy-deck.png');
}

.deck-creator-deck-upload-button {
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url('../assets/upload-deck.png');
}

.deck-creator-deck-copy-button:hover {
    background-image: url('../assets/copy-deck-hover.png');
}

.deck-creator-deck-upload-button:hover {
    background-image: url('../assets/upload-deck-hover.png');
}


.user-title-bar {
    height: 35px;
}


.close {
    margin-right: 3px;
}

.deck-creator-deck-copy-button:hover .tooltiptext {
    visibility: visible;
}

.deck-creator-deck-upload-button:hover .tooltiptext {
    visibility: visible;
}


.minimize, .close, .settings {
    -webkit-app-region: no-drag;
    display: block;
    width: 30px;
    height: 100%;
    float: right;
}

.minimize {
    background-image: url('../assets/minimize-app.png');
    background-repeat: no-repeat;
    background-position: center; 
}

.settings {
    background-image: url('../assets/setting-app.png');
    background-repeat: no-repeat;
    background-position: center; 
}

.close {
    background-image: url('../assets/close-app.png');
    background-repeat: no-repeat;
    background-position: center; 
}

.logo-title-bar {
    background-image: url('../assets/app-icon24.png');
    background-repeat: no-repeat;
    background-position: center; 
}

.minimize:hover {
    background-image: url('../assets/minimize-app-hover.png');
    background-repeat: no-repeat;
    background-position: center; 
}

.settings:hover {
    background-image: url('../assets/setting-app-hover.png');
    background-repeat: no-repeat;
    background-position: center; 
}

.close:hover {
    background-image: url('../assets/close-app-hover.png');
    background-repeat: no-repeat;
    background-position: center; 
}

.footer {
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color: rgb(231,226,218);;
    box-sizing: border-box;
    float: left;
    display: block;
    width: 22%;
    line-height: 15px;
    height: 9%;
    background-color: rgb(71,65,67);
    border-top: rgb(231,226,218) 1px solid;
}

.panel {
    border-top: rgb(231,226,218) 1px solid;
    box-sizing: border-box;
    float: right;
    display: block;
    width: 78%;
    height: 9%;
    background: rgb(71,65,67);
}

.content {
    position: relative;
    box-shadow: inset 0 2px 40px 3px #FFF;
    /* box-shadow:inset 0px 2px 10px 5px #FFF; */
    box-sizing: border-box;
    display: flex; 
    height: 86%;
    background-color: rgb(231,226,218);
}

.contentPlaceholder {
    opacity: 0.5;
    text-align: center;
    font-family: Opti-Belwe;
    margin: auto;
    position: absolute;
    top: -30; left: 0; bottom: 0; right: 0;
    background: url(../assets/rsz_placeholder_logo.png) no-repeat center;
    width: 300px;
    height: 200px;
}

.contentPlaceholderMessage {
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    line-height: 20px;
    text-align: center;
    display: block;
    width: 300px;
    font-family: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
}

.login-inputs {
    font-size: 14px;
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.login-inputs td {
    vertical-align:middle;
    width: 160px;
    text-align: right;
    box-sizing: border-box;
    padding-right: 5px;
}

 .login-inputs input {
     text-align: center;
     width: 100%;
     margin: 1px;
     box-sizing: border-box;
     height: 24px;
     border-radius: 3px;
     border: 1px black solid;
     background-color: rgb(231,226,218);;
 }



 .login-buttons, .user-buttons {
    float: right;
    height: 100%;
    box-sizing: border-box;
 }

 .socials {
     float: left;
     height: 100%;
     width: auto;
 }
 
 .login-labels {
     float: right;
     height: 100%;
     width: auto;

 }


.submit-login, .submit-create, .submit-singout {
    font-family: Opti-Belwe;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100px;
    height: 50px;
    margin-right: 5px;
    background-color: rgb(231,226,218);
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
}

.submit-login:hover, .submit-create:hover, .submit-singout:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(0,169,156) ;
}

.socials ul {
    height: 100%;
    float: left;
}

.socials ul li {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 5px;
    display: inline-block;
    width: 40px;
    height: 50px;
    transition: all 0.3s ease 0s;
}

.socials ul li:nth-child(1) {
    background: url(../assets/youtube.png) no-repeat center;
}

.socials ul li:nth-child(2) {
    background: url(../assets/reddit.png) no-repeat center;
}

.socials ul li:nth-child(3) {
    background: url(../assets/facebook.png) no-repeat center;
}

.socials ul li:nth-child(1):hover {
    background: url(../assets/youtube-hover.png) no-repeat center;
}

.socials ul li:nth-child(2):hover {
    background: url(../assets/reddit-hover.png) no-repeat center;
}

.socials ul li:nth-child(3):hover {
    background: url(../assets/facebook-hover.png) no-repeat center;
}

.menu ul {
    font-family: Opti-Belwe;
    display: block;
    text-align: center;
}

.menu ul li {
    font-size: 20px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: white;
    box-sizing: border-box;
    margin-top: 10px;
    display: inline-block;
    width: 93%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    -webkit-transition: background-color 700ms linear;
}

.menu ul li:first-child {
    background: none;
    border: none;
    height: 75px;

}

.menu ul li:hover:not(:first-child) {
    background-color: rgba(0,169,156, 0.2);
}

.card-image {
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    padding: 0px;
    margin: 0px;
    transform: scale(1.05);
}


.menu {
    position: relative;
    box-sizing: border-box;
    display: block;
    float: left;
    width: 13%;
    height: 86%;
    background: linear-gradient(to bottom, rgba(71,65,67,1)  50%, rgba(0,169,156,1) 100%);
}

.toggle-menu {
	cursor: pointer;
	float: left;
	width: 0.5%;
    height: 86%;
    background-color: rgb(71,65,67);
    border-left: 1px rgb(231,226,218) solid;
}

.hidden {
    display: none !important;
}

.center-vertically {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

.deck-tracker-content {
    width: 100%;
    position: relative;
}


.toggle-track {
    float: left;
    height: 15%;
    width: 70%;
    box-sizing: border-box;
}

.toggle-track-buttons {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: Transparent;
    cursor: pointer;
}

.toggle-track-button, .reset-lag-button {
    font-family: Opti-Belwe;
    padding: 5px;
    font-size: 16px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: white;
    box-sizing: border-box;
    /* margin: 0 auto; */
    width: 250px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 15px;
    border-bottom: 1px rgb(71,65,67) dotted;
}

.deck-tracker-bar {
    letter-spacing: 1px;
    font-family: Opti-Belwe;
    font-size: 18px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: white;
    height: 5%;
    float: left;
    width: 70%;
    padding-left: 22px;
    box-sizing: border-box;
}

.deck-tracker-log {
    letter-spacing: 1px;
    font-family: Opti-Belwe;
    font-size: 16px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: white;
    -webkit-user-select: text;
    line-height: 30px;
    height: 80%;
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding-left: 22px;
    overflow: auto;
    word-wrap: break-word;
    background-color: rgb(207,203,196);
}

.deck-creator-deck-choices {
    height: 100%;
    width: 20%;
    letter-spacing: 1px;
    font-family: Opti-Belwe;
    font-size: 18px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.deck-creator-search-inputs input, .deck-creator-search-inputs select {
    display: block;
    margin: 0px auto;
    border: none;
    text-align: center;
    width: 90%;
    text-align: inherit;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 3px;
    border: 1px black solid;
}

.deck-name-window-center input {
    border: 1px black solid;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 3px;
    height: 30px;
    width: 300px;
    text-align: center;
    margin: 5px;
    background-color: white;
}

.deck-name-window-button-submit, .deck-name-window-button-cancel {
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: auto;
    background-color: rgb(231,226,218);
    border-radius: 3px;
    font-size: 14px;
    box-sizing: border-box;
    text-align: center;
    padding: 6px;
    margin: 5px;
}

.deck-creator-search-inputs select {
    background-image: none;
}


.deck-creator-search-inputs {
    border-top: 3px rgb(231,226,218) solid;
    box-sizing: border-box;
    font-size: 18px;
}

.deck-creator-search-inputs label{
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.deck-creator-card-search {
    height: 100%;
    width: 14%;
    letter-spacing: 1px;
    font-family: Opti-Belwe;
    font-size: 18px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: white;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(207,203,196);
}


*:focus {
    outline: none;
}

.deck-creator-deck-string {
    font-size: 16px;
    border-top: 3px rgb(231,226,218) solid;
    background-color: rgb(207,203,196);
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deck-creator-deck-list {
    width: 100%;
    height: 83%;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    background-color: rgb(207,203,196);
    border-top: 3px rgb(231,226,218) solid;
}

.deck-creator-deck-list table {
    cursor: pointer;
    margin: 0 auto;
    width: 98%;
    padding: 2px;
    font-size: 14px;
}

.deck-creator-deck-list table td {
    margin: 1px;
    padding: 3px;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: rgba(231,226,218,0.5);
}

.deck-creator-deck-list table tr {
    height: 35px;
}

.deck-creator-deck-list table td:first-child {
    box-sizing: border-box;
    background-color: rgba(0, 87, 169, 0.068);
    text-align: center;
    width: 15%;
    margin-right: 3px;
}

.deck-creator-deck-list table td:nth-child(3) {
    text-align: center;
    width: 5%;
}

.deck-creator-deck-string input {
    width: 100%;
    height: 20px;
}


 .deck-creator-card-top-bar {
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(207,203,196);
 }

 .deck-creator-card-found {
    height: 93%;
    width: 100%;
    overflow: scroll;
    text-align: center;
    overflow-x: hidden;
 }

 .deck-creator-card-results {
    font-size: 18px;
    letter-spacing: 1px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-family: Opti-Belwe;
    height: 100%;
    width: 68%;
    box-sizing: border-box;
    
}

.mana-crystals-container {
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
}

.mana-crystals-container ul li {
    cursor: pointer;
    width: 20%;
    box-sizing: border-box;
    padding: 2px;
    float: left;
}

.active-mana-crystal {
    color: rgb(0,169,156);
}



svg#logo:hover {
    animation: initOpacity .4s linear;
  }
  svg#logo:hover .circle {
    animation: opacity 2s linear;
    animation-delay: .4s;
  }
  svg#logo:hover .circle1 {
    animation: opacity 1s linear;
    animation-delay: .4s;
  }
  svg#logo:hover .circle2 {
    animation: opacity 4s linear;
    animation-delay: .4s;
  }
  svg#logo:hover .line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
    animation-delay: 2.4s;
  }
  
  @keyframes initOpacity {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  /* loading */

  .sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,169,156);
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }
  
.preparing, .deck-tracker-content-available, .menu-available, .deck-name-window {
    z-index: 30;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
}

.deck-name-window {
    display: none;
}

.preparing, .deck-tracker-content-available {
    margin-left: -1px;
}


.preparing-center, .deck-tracker-content-available-center, .menu-available-center, .deck-name-window-center {
    letter-spacing: 1px;
    font-family: Opti-Belwe;
    font-size: 18px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-align: center;
    position: relative;
    top: 40vh;
    transform: translateY(-50%);
    z-index: 31;
}

/* .deck-name-window {
    background-color: red;
    width: 30%;
    height: 30%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 33;
} */

/* SCROLLBAR DECK */

.deck-creator-card-found::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  .deck-creator-card-found::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  .deck-creator-card-found::-webkit-scrollbar-thumb {
    background: #474143;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  .deck-creator-card-found::-webkit-scrollbar-thumb:hover {
    background: #00a99c;
  }
  .deck-creator-card-found::-webkit-scrollbar-thumb:active {
    background: #00a99c;
  }
  .deck-creator-card-found::-webkit-scrollbar-track {
    background: #e7e2da;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  .deck-creator-card-found::-webkit-scrollbar-track:hover {
    background: #e7e2da;
  }
  .deck-creator-card-found::-webkit-scrollbar-track:active {
    background: #e7e2da;
  }
  .deck-creator-card-found::-webkit-scrollbar-corner {
    background: transparent;
  }







  .deck-tracker-deck-table::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  .deck-tracker-deck-table::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  .deck-tracker-deck-table::-webkit-scrollbar-thumb {
    background: #474143;
    border: 0px none rgb(231,226,218);
    border-radius: 50px;
  }
  .deck-tracker-deck-table::-webkit-scrollbar-thumb:hover {
    background: #00a99c;
  }
  .deck-tracker-deck-table::-webkit-scrollbar-thumb:active {
    background: #00a99c;
  }
  .deck-tracker-deck-table::-webkit-scrollbar-track {
    background: rgb(231,226,218);
    border: 0px none rgb(231,226,218);
    border-radius: 50px;
  }
  .deck-tracker-deck-table::-webkit-scrollbar-track:hover {
    background: rgb(231,226,218);
  }
  .deck-tracker-deck-table::-webkit-scrollbar-track:active {
    background: rgb(231,226,218);
  }
  .deck-tracker-deck-table:-webkit-scrollbar-corner {
    background: transparent;
  }



  .deck-tracker-log::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  .deck-tracker-log::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  .deck-tracker-log::-webkit-scrollbar-thumb {
    background: #474143;
    border: 0px none rgb(207,203,196);
    border-radius: 50px;
  }
  .deck-tracker-log::-webkit-scrollbar-thumb:hover {
    background: #00a99c;
  }
  .deck-tracker-log::-webkit-scrollbar-thumb:active {
    background: #00a99c;
  }
  .deck-tracker-log::-webkit-scrollbar-track {
    background: rgb(207,203,196);
    border: 0px none rgb(207,203,196);
    border-radius: 50px;
  }
  .deck-tracker-log::-webkit-scrollbar-track:hover {
    background: rgb(207,203,196);
  }
  .deck-tracker-log::-webkit-scrollbar-track:active {
    background: rgb(207,203,196);
  }
  .deck-tracker-log:-webkit-scrollbar-corner {
    background: transparent;
  }













.deck-tracker-deck {
    letter-spacing: 1px;
    font-family: Opti-Belwe;
    font-size: 18px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    float: right;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.deck-tracker-deck-table {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    padding: 2px;
    font-size: 14px;
    overflow: auto;
    height: 90%;
}

.deck-tracker-deck-table td {
    margin: 1px;
    padding: 3px;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: rgba(231,226,218,0.5);
}

.deck-tracker-deck-table tr {
    height: 25px;
}

.deck-tracker-deck-table td:first-child {
    box-sizing: border-box;
    background-color: rgba(0, 87, 169, 0.068);
    text-align: center;
    width: 15%;
    margin-right: 3px;
}

.deck-tracker-deck-table td:nth-child(3) {
    text-align: center;
    width: 5%;
}

.deck-tracker-game-start {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.deck-tracker-deck-name {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}






.react-autosuggest__container {
    position: relative;
    width: 80%;
    z-index: 29;
  }
  
  .react-autosuggest__input {
    margin: -1px;
    text-align: center;
    letter-spacing: 1px;
    font-family: Opti-Belwe;
    font-size: 14px;
    height: 30px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    width: 100%;
    border-radius: 4px;
    line-height: 30px;
    border-radius: 3px;
    color: black;
    border: 1px black solid;
    -webkit-text-fill-color: white;
  }

  .react-autosuggest__input::-webkit-input-placeholder {
      color: white;
      opacity: 0.3;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    letter-spacing: 1px;
    font-family: Opti-Belwe;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    max-height: 250px;
    overflow-y: auto;
    z-index: 12;
    color: black;
    border: 1px black solid;
    -webkit-text-fill-color: white;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: rgb(207,203,196)
  }


.lag-decklist {
    float: right;
    height: 100%;
    width: 23%;
    box-sizing: border-box;
    background-color: rgb(207,203,196);
}

.lag-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    height: 10%;
    width: 77%;
    box-sizing: border-box;
    border-right: 3px rgb(231,226,218) solid;
    background-color: rgb(207,203,196);
}





.react-autosuggest__suggestions-container--open::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  .react-autosuggest__suggestions-container--open::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  .react-autosuggest__suggestions-container--open::-webkit-scrollbar-thumb {
    background: #474143;
    border: 0px none rgb(207,203,196);
    border-radius: 50px;
  }
  .react-autosuggest__suggestions-container--open::-webkit-scrollbar-thumb:hover {
    background: #00a99c;
  }
  .react-autosuggest__suggestions-container--open::-webkit-scrollbar-thumb:active {
    background: #00a99c;
  }
  .react-autosuggest__suggestions-container--open::-webkit-scrollbar-track {
    background: rgb(207,203,196);
    border: 0px none rgb(207,203,196);
    border-radius: 50px;
  }
  .react-autosuggest__suggestions-container--open::-webkit-scrollbar-track:hover {
    background: rgb(207,203,196);
  }
  .react-autosuggest__suggestions-container--open::-webkit-scrollbar-track:active {
    background: rgb(207,203,196);
  }
  .react-autosuggest__suggestions-container--open:-webkit-scrollbar-corner {
    background: transparent;
  }



.lag-decklist-table {
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    background-color: rgb(207,203,196);
}

.lag-deck-manacurve {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-item {
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 7%;
    height: 95%;
    box-sizing: border-box;
    margin-right: 5px;
    margin-left: 5px;
}


.chart-column {
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: 70%;
    border: 1px black solid;
    background-color: rgb(231,226,218);
}

.chart-column-value {
    transition: height 0.5s;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(0,169,156);
    height: 30%;
    box-sizing: border-box;
}


.lag-decklist-table table {
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    padding: 2px;
    font-size: 14px;
}

.lag-decklist-table table td {
    margin: 1px;
    padding: 3px;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: rgba(231,226,218,0.5);
}

.lag-decklist-table table tr {
    height: 35px;
}

.lag-decklist-table table td:first-child {
    box-sizing: border-box;
    background-color: rgba(0, 87, 169, 0.068);
    text-align: center;
    width: 15%;
    margin-right: 3px;
}

.lag-decklist-table table td:nth-child(3) {
    text-align: center;
    width: 5%;
}



.lag-decklist-table::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  .lag-decklist-table::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  .lag-decklist-table::-webkit-scrollbar-thumb {
    background: #474143;
    border: 0px none rgb(207,203,196);
    border-radius: 50px;
  }
  .lag-decklist-table::-webkit-scrollbar-thumb:hover {
    background: #00a99c;
  }
  .lag-decklist-table::-webkit-scrollbar-thumb:active {
    background: #00a99c;
  }
  .lag-decklist-table::-webkit-scrollbar-track {
    background: rgb(207,203,196);
    border: 0px none rgb(207,203,196);
    border-radius: 50px;
  }
  .lag-decklist-table::-webkit-scrollbar-track:hover {
    background: rgb(207,203,196);
  }
  .lag-decklist-table::-webkit-scrollbar-track:active {
    background: rgb(207,203,196);
  }
  .lag-decklist-table:-webkit-scrollbar-corner {
    background: transparent;
  }


  .deck-creator-deck-list::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  .deck-creator-deck-list::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  .deck-creator-deck-list::-webkit-scrollbar-thumb {
    background: #474143;
    border: 0px none rgb(207,203,196);
    border-radius: 50px;
  }
  .deck-creator-deck-list::-webkit-scrollbar-thumb:hover {
    background: #00a99c;
  }
  .deck-creator-deck-list::-webkit-scrollbar-thumb:active {
    background: #00a99c;
  }
  .deck-creator-deck-list::-webkit-scrollbar-track {
    background: rgb(207,203,196);
    border: 0px none rgb(207,203,196);
    border-radius: 50px;
  }
  .deck-creator-deck-list::-webkit-scrollbar-track:hover {
    background: rgb(207,203,196);
  }
  .deck-creator-deck-list::-webkit-scrollbar-track:active {
    background: rgb(207,203,196);
  }
  .deck-creator-deck-list:-webkit-scrollbar-corner {
    background: transparent;
  }


  .lag-deck-card-count {
    letter-spacing: 1px;
    font-family: Opti-Belwe;
    font-size: 28px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 77%;
  }

  .lag-wrapper {
    letter-spacing: 1px;
    font-family: Opti-Belwe;
    font-size: 18px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.lag-card-choices {
    float: left;
    box-sizing: border-box;
    width: 77%;
    height: 80%;
}

.lag-card-value {
    position: absolute;
    width: 8%;
    top: 78%;
    height: 7%;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(45, 148, 50, 0.3);
}

.lag-card-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: left;
    box-sizing: border-box;
    height: 100%;
    width: 33.33%;
}

.lag-card-number {
    font-size: 22px;
    position: absolute;
    top: 14%;
}

.settings-content {
    color:black;
    font-size: 14px;
    padding: 5px;
    box-sizing: border-box;
    line-height: 25px;

}

.hs-file-label {
    background-color: rgb(71,65,67);
    color: rgb(231,226,218);
    display: block;
    cursor: pointer; 
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
  }

  .HS-path-value {
      display: block;
      box-sizing: border-box;
      padding: 1px;
      overflow: hidden;
      margin-bottom: 3px;
      border: rgb(71,65,67) 1px solid;
  }

  .login-section-content {
      
      position: relative;
  }

  .user-name {
    box-sizing: border-box;
    font-size: 14px;
    margin-right: 5px;
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .error-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    font-size: 12px;
    height: 30px;
    color: white;
    background-color: maroon;
    box-sizing: border-box;
    padding: 3px;
    border-radius: 3px;
    position: fixed;
    top: 0;
    left: 0;
  }


  .tooltiptext {
    visibility: hidden;
    width: 120px;
    font-size: 12px;
    background-color: rgb(71,65,67);
    color: white;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    box-sizing: border-box;
    
    /* Position the tooltip */
    position: absolute;
    margin-bottom: 5px;
    z-index: 10;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.home-content {
    position: relative;
    width: 100%;
}

.hearth-lounge-web-section {

    width: 100%;
    height: 25%;
    background-color: red;
    box-sizing: border-box;
}

.incoming-events-section, .twitch-section, .reddit-section {
    position: relative;
    font-size: 14px;
    padding: 3px;
    height: 75%;
    box-sizing: border-box;
    float: left;
    width: 33.33%;

}

.incoming-events-section {
    color: rgb(71,65,67);
    text-align: center;
    overflow: hidden;
}

.incoming-events-section p, .twitch-section p, .reddit-section p {
    font-size: 16px;
    box-sizing: border-box;
    padding: 3px;
}

.twitch-section {
    color: rgb(71,65,67);
    text-align: center;
    overflow: hidden;
}

.reddit-section {
    color: rgb(71,65,67);
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    border-left: 1px dashed rgb(71,65,67);
    border-right: 1px dashed rgb(71,65,67);
}

.incoming-event-item, .streamer-item, .reddit-post-item {
    cursor: pointer;
    text-align: left;
    display: inline-block;
    width: 95%;
    box-sizing: border-box;
    margin: 5px 0;
    background-color: rgb(207,203,196);
    border-radius: 3px;
}

.streamer-item {
    padding: 9px;
    position: relative;
}

.incoming-event-item-name, .incoming-event-item-date {
    box-sizing: border-box;
    padding: 5px;
}

.incoming-event-item-name {
    font-weight: bold;
}

.streamer-item-thumb {
    float: left;
    height: 76px;
    width: 135px;
}

.streamer-item-title {
    font-size: 14px;
    padding-left: 5px;
    box-sizing: border-box;
    float: left;
    width: 57%;

}

.streamer-item-viewers {
    position: absolute;
    background-color: lawngreen;
    box-sizing: border-box;
    height: auto;
    bottom: 0%;
    left: 0;
    padding-left: 17px;
    margin-left: 146px;
    margin-bottom: 9px;
    background: url(../assets/watching.png) no-repeat 0% 50%;

}

.waiting {
    background-image: url(../assets/gear.svg);
    position: absolute; 
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    width: 32px;
    height: 32px;
}
